body{

margin:0;

padding:0;

font-family:Arial;

background:#f3f3f3;

}

.container{

width:700px;

margin:30px auto;

background:white;

padding:20px;

border-radius:10px;

box-shadow:0px 0px 10px gray;

}

h1{

text-align:center;

}

#chatBox{

height:400px;

overflow-y:auto;

border:1px solid gray;

padding:10px;

margin-bottom:20px;

}

.message{

padding:10px;

margin:10px 0;

background:#d8f3dc;

border-radius:8px;

}

.inputArea{

display:flex;

gap:10px;

}

input{

flex:1;

padding:12px;

font-size:16px;

}

button{

padding:12px 20px;

font-size:16px;

cursor:pointer;
}